<ul class="latest-twitter-list">
@foreach (var tweet in Model.Tweets) { 
    <text><li><a href="http://www.twitter.com/@tweet.Username" target="_blank">@tweet.Username</a>: @tweet.Message</li></text>
}
</ul>