/*
Theme: VuLu
Author: Bertrand Le Roy, Jon Wall
Copyright: 2011, Bertrand Le Roy. All Rights Reserved
*/

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Remember focus styles! */
:focus { outline: 0; }

body {
	font: normal 62.5% "OFL Sorts Mill Goudy TT", serif; /* 62.5% sets font to 10px */
	height: 100%;
	text-align:left;
	color:#444;
	background:#eee;
}
h1,h2,h3,h4,h5,h6,legend {font-family: "IM Fell English SC", sans-serif;}

h1 { font-size:2.6em; }/*26px*/
h2 { font-size:2.4em; }
h3 { font-size:2.2em; }
h4 { font-size:2.0em; }
h5 { font-size:1.8em; }
h6 { font-size:1.6em; }

h1.sitename {border-bottom:none;}

p {font-size:1.2em; line-height:1.8em; margin:1.2em 0 1.2em 0;}
p.small {font-size:1.2em;}

a {color:#444;text-decoration:none;border-bottom:1px dotted #444;}
a:active {color: #444;}
a:visited {color: #444;}
a:hover {color: #444;text-decoration:none;border-bottom:1px solid #444;}   /* mouse over link */

em,i: {font-style:italic;}
strong,b: {font-weight: bold;}

ul.square {font-size:1.4em; list-style:square; list-style-position:inside; line-height:2em; margin:0 0 0 1.2em;}
ol.decimal {font-size:1.4em; list-style:decimal; list-style-position:inside; line-height:2em; margin:0 0 0 1.2em;}

/*Forms*/

input, textarea {font-family: "OFL Sorts Mill Goudy TT", serif;}

input[type="text"], textarea, #CommentText, #password, #confirmPassword {
    border:1px solid #ccc;
    display: block;
    padding:2px;
    margin-bottom:8px;
    width:90%;
}
fieldset div {margin:1.6em 0 0 0}
    
legend {
	font-size: 1.8em;
	border:none;
}

label {
    font-size: 1.4em;
    display: block;
    margin:0 0 .1em 0;
    }

input[type="checkbox"] {
    margin:.2em 0 2em 1em;
}

button, input[type="submit"], input[type="button"], .button {
	font: normal 1.4em "OFL Sorts Mill Goudy TT", serif;
	border: 1px solid #ccc;
	color:#333;
    padding:2px 14px;
    margin:.2em 0 .2em 0;
    font-weight:600;
    height: 1.6em;
    }
  
.forcheckbox {
    margin:0 0 0 .4em;
    display:inline;
}

/*Tables*/
table {
    font:1.2em "IM Fell English SC", sans-serif;
	background:#fff;
	border:1px solid #eee;
	border-collapse:collapse;
	width:100%;
}

table thead, table th {
	overflow:hidden;
	text-align:left;
}

table th {
	background-color:#777;
	color:#eee;
	}
	
table caption {
	padding:8px 0;
	text-indent:0;
}

table col {
	display:table-column;
}

table colgroup {
	display:table-column-group;
	}

table tbody {
	vertical-align:middle;
	}


th, td {
	font:1em "IM Fell English SC", sans-serif;
	padding:6px;
	}

td.even {
	background-color:#eee;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* HTML 5 elements as block */  
header, footer, aside, nav, article { display: block; }

/* Clearing Floats */

.group:after 
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone:after, .widget-control:after /* .zone:after self clears every zone container - .widget-control:after self clears any floats used in a widget */
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* General */

/* Aside Headings */
aside h1 { font-size: 1.385em; }
aside h2 { font-size: 1.231em; }
aside h3 { font-size: 1.077em; }
aside h4 { font-size: 1em; }
aside h5 { font-size: 1em; }
aside h6 { font-size: 1em; }

/* Lists */
li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 1.5em; line-height: 1.846em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Text elements */
p img.left  { float: left; margin: 0.923em 0.923em 0.923em 0; padding: 0; }
p img.right { float: right; margin: 0.923em 0 0.923em 0.923em; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 0.923em; font-style: italic; }
del         { color:#666; }

pre         { margin: 0.923em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.462em; }

/* Structure */
#layout-wrapper {
    width:960px;
    border:1px solid #f1f1f1;
    display:block;
    margin:0 auto;
    background:#fff;
}

/* Navigation */
#layout-navigation 
{
    display:block;
    float:right;
}

nav ul 
{
    padding: 0px;
    margin: 0px;
}
    nav ul li
     {
        display:block;
        float:left;
        margin:4px 0 0;
    }
    nav ul a 
    {
        padding:0 18px;
        display:block;
        float:left;
        font-size: 1.077em;
        text-decoration:none;
        text-transform:uppercase;
        border:none;
    }

/* Header */
#branding a {
    font-size:1.4em;
    border:none;
}
#layout-header {
	border-bottom: 1px solid #AAA;
	margin: 0 18px 0 18px;
}

#header-wrapper {
	border:0;
	margin:3px 0 3px 0;
    display:block;
	}
	
    #branding 
    {   
        font-size: 2.4em;
        padding: 0;
        margin: 0;
        border:0 none;
        color:#333333;
    }
    #branding a 
    {
        text-decoration:none;
        color: #434343;
        text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    }
#layout-navigation {}
#layout-featured {}
#layout-before-main {}
#layout-main {}
    #layout-content { margin: 12px 0 0 26px; }
        #messages {}
        #before-content {}
        #content {}
        #after-content {}
    #aside-second { margin: 12px 0 0 0; }
#layout-footer {}
    #footer-quad {padding:12px 0 0 26px;}
    #footer-sig { background: #69625E; }
        #footer-sig a { color:#fff; }
        #footer-sig .credits>a {border:none;}
    
/* Zones */
.zone 
{
    padding: 12px;
} 
.zone-header { float: left; }
.zone-navigation { margin-top:18px; }
.zone-featured {}
.zone-beforemain {}
.zone-messages {}
.zone-before-content {}
.zone-content {
    margin-top: 6px;
}
.zone-after-content {}
.zone-aside-second {}
.zone-footer { color: #d3d3d3; font-family: "IM Fell English SC", sans-serif; font-size: 1.4em; }

.zone-before-header .widget h1 { font-size: 1.6em; }
.zone-header .widget h1 { font-size: 1.6em; }
.zone-navigation .widget h1 { font-size: 1.6em; }
.zone-featured .widget h1 { font-size: 1.6em; }
.zone-beforemain .widget h1 { font-size: 1.6em; }
.zone-messages .widget h1 { font-size: 1.6em; }
.zone-before-content .widget h1 { font-size: 1.6em; }
.zone-content .widget h1 { font-size: 1.6em; }
.zone-after-content .widget h1 { font-size: 1.6em; }
.zone-aside-second .widget h1 { font-size: 1.6em; }
.zone-footer-quad-first .widget h1 { font-size: 1.6em; }
.zone-footer-quad-second .widget h1 { font-size: 1.6em; }
.zone-footer-quad-third .widget h1 { font-size: 1.6em; }
.zone-footer-quad-fourth .widget h1 { font-size: 1.6em; }
.zone-footer .widget h1 { font-size: 1.6em; }

/* Main */

/* Content lists and details */
.content-description { font-size: 1.154em; }
.content-items { padding: 0; margin: 0; list-style-type: none; }
.content-items li, div#content .blog-archive li { padding: 0; margin-bottom:10px; }
.content-items .content-item, div#content .blog-archive li { border-bottom: 1px solid #dbdbdb; padding: 6px 0 6px 0; min-height: 28em; margin-bottom: 1em;padding-bottom:1em; }
.content-items .last .content-item { border-bottom: none; padding: 6px 0 6px 0; }
.content-items .content-item header {}
.content-items .content-item header h1 { font-size: 2.2em; color:#ff0000; line-height:130% }
.content-items .content-item header h1 a { color: #434343; }
.content-items .content-item header h1 a:hover {}
.content-items .content-item .published { margin-right: 5px; }
.content-items .content-item p {font-size: 1.1em;line-height:1.9em}
div#content ul.blog-posts, div#content .blog-archive ul, div#content ul.tagged-posts, ul.latest-twitter-list, div#content ul.search-results {list-style-type: none;}
div#content .blog-archive ul h1 {font-size: 1.6em;}
div.zone-content article.content-item.blog-post>header { font-size: 0.8em; }
div.zone-content article.content-item.blog-post { font-size: 1.5em; }
div.zone-content article.content-item.page { font-size: 1.5em; }
.content-item > p:first-of-type:first-letter {float:left;font-size:3.5em;margin-top:24px;}
div#content ul, div#main ol {list-style:square;}
div#content blockquote {font-size:1em;margin-left:4em;font-style:italic;}
div#content ul.contentItems {list-style:none;}
div#content ul.contentItems li {font-size:1em;}

/* Tags */
.tags { margin: 0 0 8px 0; }
.tags a {padding: 3px 6px; }
.tags a:hover { background-color: #dbdbdb; color: #434343;text-decoration:none; }

/* Metadata */
.metadata { margin: 0px 0 12px 0; color: #999; font-size: 0.846em; }
.metadata .published { display: inline; margin: 0 6px 0 0; }
.content-item .commentcount { display: inline; }
.content-item .commentcount:before { content:"|";margin:0 6px 0 6px; }
.meta {}

/* Comments */
#comments { margin: 24px 0 0 0; padding: 0; }
.comment-form { margin: 24px 0 0 0; padding: 0;font-size:0.8em; }
.comment-form ol {list-style:none;padding-top:5px;}
.comment-form textarea {list-style:none;}
.comments { margin: 0; padding: 0; list-style: none; }
.comments li { margin: 12px 0 0 0; padding: 12px; border-bottom: 1px dotted #d3d3d3; }
.comment { margin: 0; padding: 0; font-size: 0.95em; }
.comment h4 { font-size: 1.5em; }
.comment .who {font-size: 0.9em;}
.comment .what {}
.comment #add-comment {}
.comment-form #comment-by { font-size: 1.231em; font-weight: normal; margin: 0 0 1.2em 0; border:none; }
.comment-form #comment-text {}
.comment-form input[type="text"] {}
.comment-disabled {}
.comment-count { font-size: 1.3em; }

/* Confirmations */
.message, .validation-summary-errors { margin:10px 0 4px 0; padding:4px; }
.messages a { font-weight:bold; }
.message-Information { background:#e6f1c9; /* green */ border:1px solid #cfe493; color:#062232; }
.message-Warning { background:#fdf5bc; /* yellow */ border:1px solid #ffea9b; }
.critical.message, .validation-summary-errors, .message-Error { background:#e68585; /* red */ border:1px solid #990808; color:#fff; }


/* Secondary */

/* Aside Zone */

/* If zone 2 is on */
.aside-2 #layout-main { background:#fff; }
.aside-2 #layout-content { float: left; min-height: 555px; width: 520px;}
.aside-2 .aside-second { float: right; width: 360px; }

/* Quad Footer Zones */
#footer-quad > div { float:left; width:230px; }

/*1 zone on */
.split-1 #footer-quad-first { width:960px; } /* If zone 1 is on */
.split-2 #footer-quad-second { width:960px; } /* If zone 2 is on */
.split-3 #footer-quad-third { width:960px; } /* If zone 3 is on */
.split-4 #footer-quad-fourth { width:960px; } /* If zone 4 is on */

/*2 zones on */
.split-12 #footer-quad-first, .split-12 #footer-quad-second { width:465px; } /* If zones 1, 2 are on */
.split-13 #footer-quad-first, .split-13 #footer-quad-third { width:465px; } /* If zones 1, 3 are on */
.split-14 #footer-quad-first, .split-14 #footer-quad-fourth { width:465px; } /* If zones 1, 4 are on */
.split-23 #footer-quad-second, .split-23 #footer-quad-third { width:465px; } /* If zones 2, 3 are on */
.split-24 #footer-quad-second, .split-24 #footer-quad-fourth { width:465px; } /* If zones 2, 4 are on */
.split-34 #footer-quad-third, .split-34 #footer-quad-fourth { width:465px; } /* If zones 3, 4 are on */

/*3 zones on */
.split-234 #footer-quad-second { width:470px; } /* If zones 2, 3, 4 are on */
.split-134 #footer-quad-first { width:470px; } /* If zones 1, 3, 4 are on */
.split-124 #footer-quad-fourth { width:470px; } /* If zones 1, 2, 4 are on */
.split-123 #footer-quad-third { width:470px; } /* If zones 1, 2, 3 are on */

/* Widgets */
.widget { margin: 0 0 24px 0; font-size:1.4em; }
.widget h1 { border-bottom: 1px dotted #d3d3d3; }

/* Edit Mode Widgets */
/* These are the edit controls that appear when you're logged-in */
.widget-control { position: relative; border: 1px dotted #5f97af; }
.widget-control:hover { border-color: #d74d02; }
.widget-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.widget-control .manage-actions a { font: 0.846em Verdana, Geneva, Tahoma, sans-serif;  display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.widget-control .manage-actions a:hover { background-color: #d74d02; color: #fff; text-decoration: none; }

/* Content Mode */
.content-control { position: relative; border: 1px dotted #5f97af; }
.content-control:hover { border-color: #d74d02;text-decoration:none; }
.content-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.content-control .manage-actions a { font: 0.846em Verdana, Geneva, Tahoma, sans-serif;  display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.content-control .manage-actions a:hover { background-color: #d74d02; color: #fff; text-decoration: none; }

/* Pager */
div#content ul.pager { list-style: none; padding: 0; margin: 12px 0 0 0; }
.pager li { float: left; padding: 0 12px 0 0; margin: 0; }
.pager a { font-size: 1.2em; display: block; color: #434343;}
.pager a:hover { background-color: #434343; color: #fff;text-decoration:none;}

/* Tag Cloud */
ul.tagCloud { list-style: none; }
li.tagCloud-tag { display: inline; }
.tagCloud-tag a { border: none; }
.tagCloud-1 { font-size: 1em; }
.tagCloud-2 { font-size: 1.1em; }
.tagCloud-3 { font-size: 1.2em; }
.tagCloud-4 { font-size: 1.3em; }
.tagCloud-5 { font-size: 1.4em; }
.tagCloud-6 { font-size: 1.5em; }
.tagCloud-7 { font-size: 1.6em; }
.tagCloud-8 { font-size: 1.7em; }
.tagCloud-9 { font-size: 1.8em; }
.tagCloud-10 { font-size: 1.9em; }

/* Misc */
.small      { font-size: 0.615em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.231em; line-height: 2.231em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.credits { float: right; }
.credits a img {top:3px;position:relative;margin-right:10px;opacity:0.4}
.copyright { margin-left: 10px; }
.user-display {
    text-align: right;
    position: relative;
    top: -18px;
    right: 8px;
}
.user-display .welcome {}
.user-display .user-actions {}

.login-form { margin: 24px 0 0 0; }
.login-form ol {list-style-type: none;}

.widget-search-form {
    float:none !important;
}

.search-form input {
    display:inline;
    width:17em;
    height:1.2em;
    margin-top: 0.4em;
}
.search-form button[type="submit"] {
    height: 1.55em;
    margin-top: 0.4em;
    font-size:1em;
    display:inline;
    position: relative;
    top: 3px;
}

.archive-trail { font-size:1.4em; margin-bottom:0.7em;}
.archives, .search-form {margin-left:1.5em;}

a.rss, a.rss:hover, a.rss:visited {display:inline;float:right;text-decoration:none;border:1px solid transparent;}
a.rss:hover {border-bottom:1px solid black;}
.rss img {position:relative;top:4px;}