<html>
    <head>
        <title>Car Add</title>
        <style type="text/css">
            form {
             width:600px;
             height:400px;
             margin:100px 200px;
            }
            div {
                width:400px;
                height:50px;
            }
        </style>
    </head>
<body>
<form action="/OrchardLocal/car/add" method="post">
     <div>
        名称：<input name="Name" type="text" value="" /> 
     </div>
    <div>
        描述：<input name="Description" type="text" value="" /> 
     </div>
     <div>
        价格：<input name="Price" type="text" value="" /> 
     </div>
     <div>
        品牌：<input name="BrandId" type="text" value="" /> 
     </div>
     <div>
        座位数目：<input name="SeatNum" type="text" value="" /> 
     </div>
    <input type="submit" value="提交" />
</form>
    </body>
 </html>