
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .img {
        height:30px;
        width:30px;
    }
</style>
<div class="content">
        
        <div class="header">
            
            <h1 class="page-title">标题</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">汽车</a> <span class="divider">/</span></li>
            <li class="active">车辆管理</li>
        </ul>

        <div id="koContainer" class="container-fluid" data-url="/Car/list" data-page-size="10">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button id="btnAdd" class="btn btn-primary" data-template="Add" data-title="新增" data-template-url="/Car/add" data-toggle="modal" data-target="#modal"><i class="icon-plus"></i> 新增</button>
    <button id="btnEdit" class="btn btn-primary" data-template="Edit" data-title="修改" data-template-url="/Car/edit" data-toggle="modal" data-target="#modal"><i class="icon-edit"></i> 编辑</button>
    <button id="btnDelete" class="btn" data-url="/Car/Delete" data-confirm="确认删除吗？"><i class="icon-remove"></i> 删除</button>
    <button id="btnImport" class="btn" data-template="Import" data-title="导入" data-template-url="/Car/import" data-toggle="modal" data-target="#modal">导入</button>
    <button id="btnExport" class="btn"  >导出</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <table class="table table-striped table-bordered">
   <tr>
            <th width="20px"><input type="checkbox" id="selAll" /></th>
            <th>车辆名称</th>
            <th>车辆描述</th>
            <th>价格</th>
            <th>品牌</th>
            <th>座位数</th>
            <th>缩略图</th>                 
        
        </tr>
 <tbody data-bind="foreach: Data">
        <tr>
            <td><input type="checkbox" data-bind="value: Id" /></td>
            
            <td data-bind="text: Name"></td>
            <td data-bind="text: Description"></td>
            <td data-bind="text: Price"></td>
            <td data-bind="text: BrandId"></td>   
            <td data-bind="text: SeatNum"></td>
            <td data-bind="html: '<img class=img src=http://t10.baidu.com/it/u=692409524,3989048543&fm=21&gp=0.jpg />'"></td> 
        </tr>
    </tbody>
</table>
</div>
<div class="pagination pull-right">
	<ul>
		<li data-bind="css: { disabled: Page.Number() <= 0 }"><a href="#" data-page="-1">«</a></li>
		<!-- ko foreach: Page.List -->
		<li data-bind="css: { active: $root.Page.Number() == $data }, visible: $root.Page.Show($data)"><a href="#" data-bind="    attr: { 'data-page': $data }, text: $data + 1"></a></li>
		<!-- /ko -->
		<li data-bind="css: { disabled: Page.Number() >= Page.MaxNumber() - 1 }"><a href="#" data-page="+1">»</a></li>
	</ul>
</div>
<script type="text/javascript">
    $(function () {
        $("#koContainer").koLoader({
            init: function () {
            }
        });

        $("#btnEdit").bind("click", function () {
            var id = $("#koContainer").data("koLoader").viewModel.Selected.Item().CarId();
            var editurl = "/Car/edit?carid=" + id;
            $(this).data("template-url", editurl);
        });

        $("#btnExport").bind("click", function () {
            location.href = "/Car/export";
        });
    });
</script>   
   @Html.Partial("_Modal")                              
                   

            </div>
        </div>
    </div>

