<form action='/Autohome.Car/Car/create' class="form-horizontal" method="post">


    <div class="control-group">
        <label class="control-label" for="CarName">车辆名称：</label>
        <div class="controls">
            <input id="Name" maxlength="200" msg="车辆名称" name="Name" reg="\S+" required="required" type="text" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="CarDescription">车辆描述：</label>
        <div class="controls">
            <input id="Description" maxlength="200" msg="车辆描述" name="Description" reg="\S+" required="required" type="text" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="CarDescription">价格：</label>
        <div class="controls">
            <input id="Price" maxlength="200" msg="价格" name="Price" reg="\S+" required="required" type="text" />
        </div>
    </div>

</form>

